html
  head
    title= title
  body
    h1= message
    script(src='/js/script.js')

    form(method='POST' id='cords')
      input#lat(placeholder='TEST', name='lat', value='')
      input#lng(placeholder='TEST', name='lat', value='')
